---
---

@import "{{ site.theme }}";

/* Make links a nice forest green, instead of the default blue. */
a:link, a:visited, a:active, a:hover {
	color: #336600;
}

/* TODO: Needs testing. Add a custom font, like Vulf Mono */
section {
	font-family: "Times New Roman", Times, serif;
}

/* Hide the "View the Project on GitHub" block in the header */
p.view {
	visibility: hidden;
}

/* Try to hide the "project maintained by ggrammar" block in the footer,
 but keep the "Theme by orderedlist" bit */
footer p {
	visibility: hidden;
}
footer p small {
	visibility: visible;
}
